.topnav {
  background-color: #bee7eb;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #0d0101;
  text-align: center;
  padding: 20px 19px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: skyblue;
  color: black;
}

.topnav a.active {
  float: left;
  color: black;
}

html {
  background-color: #0070ff5c;
}

.footer {
  background-color: #bee7eb;
  padding: 12px 12px 12px;
  text-align: center;
  font-size: 30px;
  position: fixed;
}

.table td,
.table th {
  font-size: 20px;
  padding: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.container-fluid {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  position: relative;
  color: rgb(141, 15, 15);
}

.centered {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main1-body {
  background-image: linear-gradient(rgb(0 123 255 / 35%), #00ffd74a, #0070ff5c);
}

